.container {
    margin-left: 10%;
}
.next-note-container {
    font-size: 34px;
    text-align: center;
    border: solid;
    border-color: green;
    margin-top: 60%;
    margin-left: 20%;
}

.instrument-name {
    font-size: 34px;
    text-align: center;
}


.on-success {
  background-color: rgb(96, 255, 96);
}
